.card
  .card-content
    - if user == current_user
      %span.card-title.black-text Friends
    - else
      %span.card-title.black-text #{user.username}'s Friends
    - if user.friends.present?
      - user.friends.limit(5).each do |friend|
        .valign-wrapper
          = link_to user_path(friend), class: 'red-text valign' do
            = image_tag(friend.avatar(:small), class: 'circle')
            = friend.username
    - else
      %p.grey-text No friends yet
  .card-action.right-align
    = link_to 'See all', user_friends_path(user), class: 'red-text'
