-# Check for current_user to avoid errors when logged out
- if current_user
  %ul.dropdown-content#user
    %li= link_to 'Profile', user_path(current_user)
    %li= link_to 'Friends', user_friends_path(current_user)
    %li.divider
    %li= link_to 'Sign out', destroy_user_session_path, method: 'delete'

  %ul.dropdown-content#notifications
    %li
      - if current_user.incoming_requests.present?
        = link_to friend_requests_path, class: 'center-align' do
          = pluralize(current_user.incoming_requests.count, 'friend request', 'friend requests')
      - else
        = link_to 'Nothing here', '', class: 'black-text center-align'

  %header
    %nav
      .nav-wrapper
        = link_to 'Fakebook', root_path, method: 'get', class: 'brand-logo headerlogo'
        %ul.right
          -# Paint the notification icon red if there are new notifications
          - if current_user.incoming_requests.present?
            %li
              %a.dropdown-button(href='' data-activates='notifications')
                %i.mdi-social-notifications-none.new-notifications
          - else
            %li
              %a.dropdown-button(href='' data-activates='notifications')
                %i.mdi-social-notifications-none
          %li
            %a.dropdown-button(href='' data-activates='user')
              = current_user.name
          %li= link_to 'Home', root_path
          %li= link_to 'Users', users_path
          %li= link_to 'About', '#'
